.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(249, 249, 242);
  margin: 0px;
}
.navbar > h3 {
  margin: 0px;
}
.navbar > h3:first-child {
  font-size: 40px;
  font-family: Comic Sans MS;
  color: rgb(108, 108, 190);
  margin-left: 30px;
}
.navbar > h3:last-child {
  color: rgb(229, 74, 74);
  font-family: Comic Sans MS;
  text-align: center;
  justify-self: end;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

.blockAddPhoto {
  width: 248px;
  height: 248px;
  border: 1px solid black;
}

.photos {
  width: 250px;
  height: 250px;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.add {
  width: 296px;
  height: 296px;
  border: 2px solid black;
  background-size: 110px 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.inputName {
  width: 80%;
  margin-bottom: 25px;
  border: 1px solid black;
}

.photoFile {
  margin-bottom: 25px;
}

.modalHeader {
  color: black;
}

.inputName:hover::placeholder,
.description:hover::placeholder {
  color: #2196f3;
}

.inputName:hover,
.description:hover {
  border: 1px solid #2196f3;
  outline: 0;
}
.inputName:focus,
.description:focus {
  outline: 0;
  border: 1px solid #2196f3;
}

.button {
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  background-color: #2196f3;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

.description {
  width: 80%;
  height: 100px;
  margin-bottom: 25px;
  border: 1px solid black;
  resize: none;
}

.red {
  background-color: red;
}

#bodySize {
  width: 100%;
  height: 100%;
}
#modalForm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(178, 121, 52, 0.251);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inputString {
  display: none;
}
#panel {
  width: 500px;
  height: auto;
  background-color: white;
  color: aliceblue;
}
.photos {
  background-size: cover;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: rgb(44, 38, 38);
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll;
}
.modal-btn-close {
  align-self: flex-end;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
input {
  width: 80%;
  color: black;
}
#pictureGalary {
  width: 100px;
  height: 100px;
  background-image: url("./photos/galary.png");
  background-color: aliceblue;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
}
.popupSizeParams {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 188, 188, 0.27);
  top: 0px;
}
.like__block {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.dislike__block {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.like__dislike {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-top-left-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
  display: flex;
  justify-content: space-around;
}
.like {
  background-image: url("./photos/like.png");
  width: 50%;
  height: 50px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.dislike {
  background-image: url("./photos/dislike.png");
  width: 50%;
  height: 50px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
  background-color: #ffffff;
}
#Wall {
  width: 20px;
}
.like__block:hover .like {
  background-color: #2196f3;
  border-top-left-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
}
.like__block:hover {
  background-color: #2196f3;
  border-top-left-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
}
.dislike__block:hover .dislike {
  background-color: #2196f3;
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
}
.dislike__block:hover {
  background-color: #2196f3;
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
